:root{
    --gray-background-color: #dbdbdb;
}

html{
    font-size: 16px;
}

body{
    background-color: var(--gray-background-color);
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

/* ===== HEADER SECTION ===== */
.header{
    grid-column: 2 / 3;

    padding: 20px 40px;
    background-color: #fefefe;
}

/* --- Top Header --- */
.top-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

/* Search Bar */
.search-bar{
    display: grid;
    grid-template-columns: minmax(min-content, 5%) minmax(min-content, 90%);
    gap: 10px;
}

.search-bar > *{
    padding: 0;
}

.search-button{
    width: 25px;
    height: 25px;
    line-height: 1rem;
    vertical-align: middle;

    background-image: url(./images/icons/search-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}

.search-input{
    height: 25px;

    background-color: var(--gray-background-color);
    border-radius: 16px;
    border: none;
}

/* Profile Section */
.profile-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: end;
}

.profile-button > *{
    display: inline-block;
}

.img-div{
    height: 50px;
    width: 50px;

    background-image: url(./images/profile-pic.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    line-height: 1rem;
    vertical-align: middle;
}

.profile-name{
    
}

.notifications{
    width: 25px;
    height: 25px;
    background-image: url(./images/icons/bell-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
}

.sidebar{
    background-color: #FCD412;
    grid-column: 1 / 2;
    grid-row: 1 / span3;
}

.content{
    background-color: #99afff;
    grid-column: 2 / 3;
}